.footer-wrapper {
	width: 100%;
	height: 100px;
	background: #000;

	.footer {
		width: 70%;
		height: 100%;
		margin: auto;
		color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: space-between;

		img {
			height: 50px;
		}
		.copy {
			font-size: 1.7rem;
		}
		.socials {
			font-size: 2rem;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 2rem;
			a {
				.icon {
					color: #fff;
					font-size: 3rem;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.footer-wrapper {
		height: 200px;
		.footer {
			flex-direction: column;
			justify-content: space-evenly;
		}
	}
}
